################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BasRomashkina/FileContentIndex/ade9ad39-cd83-438f-9681-7d1b7bb05a9a.vsidx
/.vs/BasRomashkina/FileContentIndex/1b976a53-a507-456d-a55c-b9b67791dff5.vsidx
/.vs/BasRomashkina/FileContentIndex/495c3cb0-a8af-4b5c-a6a6-f5c2d6a3ba36.vsidx
/.vs/BasRomashkina/FileContentIndex/0bc47390-cac3-4dc7-aa7a-6fe7a11422e3.vsidx
/.vs/BasRomashkina/FileContentIndex/525b4025-eb8c-469d-87fe-e0d7739a592f.vsidx
/.vs/BasRomashkina/FileContentIndex/5b8f4e23-7cb7-4218-b5a6-f0f70f35a888.vsidx
/.vs/BasRomashkina/FileContentIndex/19c09623-aea1-46ff-b406-b59f0b5ffa1d.vsidx
/.vs/BasRomashkina/FileContentIndex
/.vs/BasRomashkina/v17
