################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BasRomashkina/FileContentIndex/ade9ad39-cd83-438f-9681-7d1b7bb05a9a.vsidx
